$red: #d87d4a;
$red-hover: #fbaf85;
$blackish: #101010;
$white: #ffffff;
$black: #000000;
$gray: #f1f1f1;
$white-secondary: #fafafa;

$container-width: 112rem;

$laptop-bp: 992px;
$tablet-bp: 768px;
$mobile-bp: 375px;
