@import './../../sass/variables';

.HomeSection {
  background-color: $blackish;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: calc(100vh - 9.7rem);

  @media screen and (max-width: $tablet-bp) {
    background-position: center;
    display: flex;
    align-items: center;
  }

  .container {
    max-width: $container-width;
    margin: 0 auto;
    transform: translateY(calc(128 / 346) * 100%);

    @media screen and (max-width: $tablet-bp) {
      transform: none;
    }

    .main {
      position: relative;
      width: 40%;

      @media screen and (max-width: $tablet-bp) {
        width: 100%;
        text-align: center;
        padding: 0 24px;
      }

      &__ad {
        color: $white;
        opacity: 0.5;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
      }

      &__title {
        color: $white;
        font-weight: bold;
        font-size: 5.6rem;
        line-height: 5.8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 2.4rem;

        @media screen and (max-width: $tablet-bp) {
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 1.28571px;
        }
      }

      &__content {
        width: 80%;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #ffffff;
        opacity: 0.75;
        margin-bottom: 4rem;

        @media screen and (max-width: $tablet-bp) {
          width: 100%;
        }
      }

      &__btn {
        display: inline-block;
        text-decoration: none;
        padding: 15px 31px;
        border: 0;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        background-color: $red;

        &:hover {
          background-color: $red-hover;
        }
      }
    }
  }
}

.general {
  background-color: black;
  color: $white;
  text-align: center;
  padding: 9.8rem 0;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
